<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function func(arg){
	//alert(arg);
	
	let result= confirm("정말로 삭제하시겠습니까?");
	if(result){
		document.getElementById(arg).submit();
	}
}
</script>
</head>
<body>
*** 상품 정보 *** <p/>
<div style="width:80%; text-align: right;">
	<a href="/sangpum/insert">♥상품추가♥</a>
</div>

<table border="1" style="width:80%">
   <tr style="background-color : rgb(255, 0, 128)">
      <th>코드</th><th>상품명</th><th>수량</th><th>단가</th><th>기타</th>
   </tr>
   {% if sangpums %}
   
   {% for s in sangpums %}
   <tr>
      <td>{{s.code}}</td> <!-- select문의 결과를 출력할 때에는 tuple이므로 0,1,2,3 으로 key 사용 -->
      <td>{{s.sang}}</td>
      <td>{{s.su}}</td>
      <td>{{s.dan}}</td>
      <td>
      	<a href="/sangpum/update?code={{s.code}}">수정</a>
      	<!--  
     	<a href="/sangpum/delete?code={{s.code}}">삭제</a> -->
     	
     	<form action="/sangpum/delete" name="frm" method="get" style="display: inline" id="{{s.code}}">
     		<input type="hidden" name="code" value="{{s.code}}"/>
     		<a href="javascript: void(0); onclick=func({{s.code}})">삭제</a> <!-- a태그의 기능을 버림 -->
     	</form> <!--  중요 !! 기억하기 -->
      </td>
   </tr>   
   {% endfor %}
   
   <!-- 페이징 처리 -->
   <tr>
   	 <td colspan="5">
   	 {% if sangpums.paginator.num_pages > 1 %}
   	 	<div>
   	 	{% if sangpums.has_previous %}
   	 		<a href="/sangpum/list?page={{sangpums.previous_page_number}}">&laquo;이전</a>
   	 	{% endif %}
   	 	{% if sangpums.has_next %}
   	 		<a href="/sangpum/list?page={{sangpums.next_page_number}}">다음&raquo;</a>
   	 	{% endif %}
   	 	&nbsp;&nbsp;
   	 	(페이지:{{sangpums.numer}} / {{sangpums.paginator.num_pages}})
   	 	<!--    현재 페이지                  전체페이지 /sangpum-요청명, sangpums - 객체명
   	 	
   	 	-->
   	 	<hr />
   	 	{% for p in allpage %}
   	 		{% if p > 0 %}
   	 			{% if p == sangpums.numer %} <!-- 현재 페이지는 링크에서 제외 -->
   	 				[{{p}}] <!-- 번호가 보이기만 함 -->
   	 			{% else %}
   	 				<a href="/sangpum/list?page={{p}}">[{{p}}]</a>
   	 			{% endif %}
   	 		{% endif %}
   	 	{% endfor %}
   	 	</div>
   	 {% endif %}
   	 </td>	 
   </tr>
   
   
   {% else %}
   <tr>
      <td colspan="5">자료 없음</td>
   </tr>   
   {% endif %}
</table>
</body>
</html>